.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
.product-info{
    margin-left: 14px;
}
.product-info p {
    margin-bottom: 0px;

}
.product-name{
    font-family: 'Lato';
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}
.button-cart{
    width: 100%;
    background: #FFE0B3;
    border-radius: 0px 0px 8px 8px;
    border: none;
    position:absolute;
    bottom: 0;
    display: flex;
    align-items:center;
    justify-content:center;
}
.button-cart .btn-tex{
    margin-right:5px;
}
.button-cart:hover{
    background-color: teal;
}